.sudoku-board {
	background-color: rgb(40, 44, 52);
	padding: 2%;
	border-radius: 5px 5px 0 0;

	height: 70vh;
}

button {
	padding: 1.5em 5em;
	background: rgb(40, 44, 52);
	border: none;
	border-radius: 1.5rem;
	color: rgb(255, 255, 255);
	font-size: 1rem;
	font-weight: 700;
	font-family: Poppins;
	letter-spacing: 0.2rem;
	text-align: center;
	outline: none;
	cursor: pointer;
	transition: 0.1s ease-in-out;
	box-shadow: -10px -10px 20px rgba(50, 54, 63, 0.6),
		-5px -5px 10px rgba(50, 54, 63, 0.9), 10px 10px 20px rgb(30, 33, 39);
}
button:hover {
	box-shadow: -5px -5px 12px #32363f, 5px 5px 12px rgb(30, 33, 39);
}
button:active {
	box-shadow: inset -10px -10px 20px rgba(255, 255, 255, 0.05),
		inset 10px 10px 20px rgba(0, 0, 0, 0.2);
}
